<div id="hero" class="home">
    <div class="container">
       <div class="card-body">
          <p id="missionstate"></p>
          <br/>
          <br/>
          <br/>
          <h1 class="color-white"><i>{{welcomeMessage}}</i></h1>
          <p class="color-white typed-items" data-typed-person="|">{{tournamentDescription}}</p>

          <br/>
          <div class="color-white">
             <a [routerLink]="['/tournaments/add']"  class="btn btn-dark" role="button">Create Tournament </a>
          </div>
       </div>
    </div>
 </div>